.producs-body{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &__search{
        width: 20%;
    }
    &__product{
        width: 80%;
    }
}
@media  screen and  (max-width:1023px) {
    .producs-body{
        display: flex;
        margin: 0;
        justify-content: space-between;
        &__search{
            width: 30%;
            margin: 0;
        }
    }
}
@media screen and (max-width:767px ) {
    .producs-body{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin: 0;
        justify-content: space-between;
        &__search{
            width: 100%;
            margin: 0;
            gap: 10px;
        }
        &__product{
            width: 100%;
        }
    }
}