.form-login{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    gap: 10px;
}
.register{
    width: 30%;
    text-align: center;
    box-shadow: 0px 0px 5px 5px rgba($color: rgb(18, 20, 31), $alpha: 0.2) ;
    background-color: rgba($color: #1215c2, $alpha: 0.5);
    padding: 10px;
}
.register-content{
    height: 170px;
}
.login{
    width: 30%;
    box-shadow: 0px 0px 5px 5px rgba($color: rgb(18, 20, 31), $alpha: 0.2) ;
    background-color: rgba($color: #1215c2, $alpha: 0.5);
    padding: 10px;
}
.image-login{
    width: 200px;
}
.input-login{
    height: 170px;
    text-align: center;
}
.input-form__btn{
    text-align: center;
    margin-top: 50px;
    bottom: 0;
    align-items: center;
    width: 100px;
    background-color: rgb(71, 139, 240);
    color: white;
    text-align: center;
    font-weight: 400;
}
.input-form__item{
   
    text-align: center;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
    &__label{
        min-width: 100px;
    }
}
.btn-form{
    text-align: center;
}
@media  screen and  (max-width:1023px) {
    .image-login{
        width: 150px;
    }
    .form-login{
        margin-top: 50px;
        margin-bottom: 50px;
    }
 }
 @media screen and (max-width:767px ) {
    .image-login{
        display: none;
    }
    .form-login{
        display: flex;
       flex-direction: column;
        padding: 10px;
        gap: 10px;
    }
    .login{
        width: 100%;
    }
    .register{
        width: 100%;
    }
    .btn_register{
        margin-top: 0;
    }
}
