.col1oder{
   width: 10vw;
}
@media  screen and  (max-width:1023px) {
    
     td{
        padding: 0;
     }
     .col3{
        display: none;
     }
     .col6{
      display: none;
   }
 }
 @media  screen and  (max-width:1023px) {
   .col4{
      display: none;
   }
}